/.visualgdb
/build
/docs
/.vs/CSI/v17/ipch/AutoPCH/1379b525d0ffcaad/*.ipch
/.vs/CSI/v17/ipch/AutoPCH/4d90ed5d39835cb5/*.ipch
*.ipch
*.vsidx
/.vs/CSI/v17
/.vs/cmake.db
/tools/log
/Token.txt
/dependencies.lock
